.todo {
   margin: 3rem auto;
   max-width: 500px;
   width: 90%;
   /* border: 3px solid #002E94; */
   background-color: #c9e1ff;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;
}
